.homeContent {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: [line1] 33% [line2] 33% [line3] 33% [end];
  grid-template-rows: [row1] 25% [row2] 25% [row3] auto [last-line];
  grid-gap: 15px;
}

.itemContent{
  display: flex;
  flex-flow: row wrap;
}

.stylingImg {
  width: 100%;
  height: auto;
  display: flex;
}

.projectLinks {
  align-content: center;
}
