.homeContent {
  background-color: #019283;
  margin-top: 50px;
  display: block;
}

.stylingImg {
  border-radius: 25px;
  width: 25px;
}

.projectLinks > a {
  font-size: 3em;
  background-color: #862345;
}
