.nav {
  list-style-type: none;
  margin: 30px;
  padding: 0px;
  width: 200px;
  color: #f1f1f1;
}

.nav__item {
  color: #ccc;
  font-family: 'Baloo Chettan', cursive;
  text-decoration: none;
}

.nav__link:hover {
  color: #678678;
}
