.nav {
  width: 100%;
  color: #f1f1f1;
  text-align: center;
}

.nav__item {
  margin-left: 3%;
  margin-right: 3%;
  color: #ccc;
  font-family: 'Miriam Libre', sans-serif;
  text-decoration: none;
}

.nav__link:hover {
  color: #678678;
}
