.name {
  width: 100%;
  text-align: center;
}

.name__item {
  color: #777;
  font-family: 'Major Mono Display', monospace;
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 60px;
}

.title__item{
  color: #777;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin-top: 10px;
}
