.projectContent {
  background-color: #1234ee;
  margin-top: 50px;
  width: 100%;
  display: flex;
  // justify-content: center;
}

.columnLeft{
flex-direction: column;
background-color: #222d77;
width: 50%;
}

.columnRight{
background-color: #5e5e5e;
display: flex;
align-items: flex-end;
width: 50%;
}

.imageContent {
  border-radius: 50px;
  width: 200px;
  height: 200px;
}
