---
layout: default
---
<!DOCTYPE html>
<html>
  <div class="homeContent">
    {% for project in site.projects %}
      <img src="{{site.baseurl}}/assets/images/{{project.image}}" alt="Design projects" class="stylingImg"/>
      <a href="{{ project.url }}">{{ project.title }}</a>
      {% if project.url == item.link %}

      {% endif %}
    {% endfor %}
  </div>
</html>
  <!-- {% for item in site.links %}
    <a href="{{ item.link }}" {% if page.url == item.link %} {% endif %}>
      {{ item.name | upcase }}
    </a>
  {% endfor %} -->
