<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <title>{{page.title}}</title>
</head>
<body class="colorful">
    {% include navbar.html %}

    {% for project in site.projects %}
      <a href="{{ project.url }}">{{ project.name }}</a>
      {% if project.url == item.link %} {% endif %}
    {% endfor %}
</body>
</html>
